.search-control {
    color: #6d747a;
    border: 0;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.search-control--filter svg {
    width: 24px;
    height: 24px;
    fill: #6d747a;
    margin-right: 8px;
    margin-left: 20px;
    align-content: center;
}