button {
    background-color: #e07e8f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FA5B75;
}

.vehicleInfo {
    border: 1px solid #dedfe0;
}

.vehicleCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    block-size: 100px;
    height: auto;
    opacity: 1;
    transition: opacity .75s cubic-bezier(.19, 1, .22, 1);
    border-radius: 5%;
    border: 1px solid #dedfe0;

}

.vehicleImg {
    width: 100%;
    justify-content: center;
}